body {
  font-family: 'Poppins', sans-serif;
}

.pl-150 {
  padding-left: 150px;
}

.copyright {
  padding: 70px 0 0 0;
}

.copyright p {
  text-align: center;
  font-weight: 400;
  color: #6F6A86;
}

.header-third {
  font-size: 22px;
  color: #211B3D;
  font-weight: 600;
}

.subheader {
  font-size: 16px;
  font-weight: 400;
  color: #5B5575;
}

.login-user .right {
  width: 50%;
  float: left;
  padding: 120px;
}

.login-user .right .atau {
  margin: 0px 23px 23px; 
  height: 17px;
}

.login-user .right .logo {
  height: 42px;
  margin-bottom: 50px;
}

.login-user .right .btn-border {
  border:1px solid #8e8e8e;
  border-radius: 50px;
  padding: 12px 170px 12px 170px;

}
.login-user .right .btn-google-login {
  margin-top: 25px;
}

.login-user .right .btn-google-login .icon {
  margin-right: 8px;
}
.btn-google-login:hover {
  background-color: #f1f1f1;
}

/* Login Username & Pasword Text Box */
.btn-login {
  margin-top: 15px;
  height: 50px;
  width: 565px;
  border-radius: 100px;
  border: 0;
  font-weight: 500;
}
.btn-login {
  background: #7839F3;
  color: #fff;
}

.btn-login:hover {
  background: #31B380;
}

.form-control-lg {
  height: 50px;
  width: 565px;
  font-size: 15px;
  border-radius: 50px;
}

.login-user .left {
  background-color: #4D1CAB;
  width: 50%;
  min-height: 1000px;
  text-align: center;
  float: left;
}

.login-user .left img {
  margin-top: 290px;
  height: 450px;
}

.testimonials {
  background: #F7F7FB;
  margin-top: 50px;
  padding: 70px 0 70px 0;
}

.testimonials .item-review {
  border-radius: 13px;
  background: #fff;
  padding: 20px;
  max-height: 1000px;
}

.testimonials .item-review .background {
  width: 268px;
  border-radius: 10px;
}

.testimonials .item-review .message, .testimonials .item-review .user .info .role {
  font-size: 16px;
  font-weight: 400;
  color: #5B5575;
  line-height: 30px;
  min-height: 90px; 
  margin-top: 30px;
}

.testimonials .item-review .user {
  margin-top: 25px;
}

.testimonials .item-review .user .photo {
  width: 56px;
  height: 56px;
  float: left;
  margin-right: 16px;
}

.testimonials .item-review .user .info {
  padding-top: 5px;
}

.testimonials .item-review .user .info .name {
  color: #211B3D;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 0;
}

.testimonials .item-review .user .info .role {
  min-height: 0;
  margin-top: 0;
  margin-bottom: 0;
}

/* Kampus Rekomendasi */
.kampusrekomendasi {
  /* background: #F7F7FB; */
  margin-top: 0px;
}

.kampusrekomendasi .tanpagaris{  /* background: #F7F7FB; */
  text-decoration: none;
}

.kampusrekomendasi .item {
  border-radius: 13px;
  background: #fff;
  padding: 20px;
  max-height: 1000px;
  box-shadow: rgb(26 52 79 / 10%) 0px 2px 12px 0px;
  transition: box-shadow 0.25s;
}
.kampusrekomendasi .item .dark {
  width: 268px;
  border-radius: 10px;
  background: rgba(50, 7, 104, 0.6);
}
.kampusrekomendasi .item:hover {
  box-shadow: rgb(26 52 79 / 40%) 0px 2px 12px 0px;
}

.kampusrekomendasi .item .background {
  width: 268px;
  border-radius: 10px;
  background: rgba(50, 7, 104, 0.6);
}

.kampusrekomendasi .item .message, .kampusrekomendasi .item .user .info .role {
  font-size: 16px;
  font-weight: 400;
  color: #5B5575;
  line-height: 30px;
  min-height: 90px; 
  margin-top: 30px;
}

.kampusrekomendasi .item .user {
  margin-top: 25px;
}

.kampusrekomendasi .item .user .photo {
  width: 56px;
  height: 56px;
  float: left;
  margin-right: 16px;
}

.kampusrekomendasi .item .user .info {
  padding-top: 5px;
}

.kampusrekomendasi .item .user .info .country {
  color: #211B3D;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 0;
}

.kampusrekomendasi .item .user .info .name {
  color: #211B3D;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 0;
}

.kampusrekomendasi .item .user .info .role {
  min-height: 0;
  margin-top: 0;
  margin-bottom: 0;
}

/* Jurusan Rekomndasi */
.jurusanrekomendasi {
  /* background: #F7F7FB; */
  margin-top: 0px;
}

.jurusanrekomendasi .item {
  box-shadow: rgb(26 52 79 / 10%) 0px 2px 12px 0px;
  border-radius: 13px;
  background: #fff;
  padding: 20px;
  max-height: 1000px;
  transition: box-shadow 0.25s;
}
.jurusanrekomendasi .item:hover {
  box-shadow: rgb(26 52 79 / 40%) 0px 2px 12px 0px;
}

.jurusanrekomendasi .item .background {
  width: 268px;
  border-radius: 10px;
}

.jurusanrekomendasi .item .message, .jurusanrekomendasi .item .user .info .role {
  font-size: 16px;
  font-weight: 400;
  color: #5B5575;
  line-height: 30px;
  min-height: 90px; 
  margin-top: 30px;
}

.jurusanrekomendasi .item .user {
  margin-top: 25px;
}

.jurusanrekomendasi .item .user .photo {
  width: 56px;
  height: 56px;
  float: left;
  margin-right: 16px;
}

.jurusanrekomendasi .item .user .info {
  padding-top: 5px;
}

.jurusanrekomendasi .item .user .info .country {
  color: #211B3D;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 0;
}

.jurusanrekomendasi .item .user .info .name {
  color: #211B3D;
  font-weight: 500;
  font-size: 18px;
  margin-top: 12px;
}

.jurusanrekomendasi .item .user .info .role {
  min-height: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.isijurusan .item2 {
  border-radius: 13px;
  background: #fff;
  padding: 20px;
  margin-right: 30px;
  max-height: 1000px;
  width: 300px;
  box-shadow: rgb(26 52 79 / 10%) 0px 2px 12px 0px;
  transition: box-shadow 0.25s;
}

.isijurusan .item2 .dark {
  width: 268px;
  border-radius: 10px;
  background: rgba(50, 7, 104, 0.6);
}
.isijurusan .item2:hover {
  box-shadow: rgb(26 52 79 / 40%) 0px 2px 12px 0px;
}

.isijurusan .item2 .background {
  width: 268px;
  border-radius: 10px;
  background: rgba(50, 7, 104, 0.6);
}

.isijurusan .item2 .message, .isijurusan .item2 .user .info .role {
  font-size: 16px;
  font-weight: 400;
  color: #5B5575;
  line-height: 30px;
  min-height: 90px; 
  margin-top: 30px;
}

.isijurusan .item2 .user {
  margin-top: 25px;
}

.isijurusan .item2 .user .photo {
  width: 56px;
  height: 56px;
  float: left;
  margin-right: 16px;
}

.isijurusan .item2 .user .info {
  padding-top: 5px;
}

.isijurusan .item2 .user .info .country {
  color: #211B3D;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 0;
}

.isijurusan .item2 .user .info .name {
  color: #211B3D;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 0;
}

.isijurusan .item2 .user .info .role {
  min-height: 0;
  margin-top: 0;
  margin-bottom: 0;
}


/* Kota Rekomendasi */
.kotarekomendasi {
  /* background: #F7F7FB; */
  margin-bottom: 30px;
}

.kotarekomendasi .item {
  position: relative;
}

.kotarekomendasi .item .background {
  display: block;
  width: 100%;
  height: 10cm;
  border-radius: 10px;
  box-shadow: rgb(26 52 79 / 10%) 0px 2px 12px 0px;
}

.kotarekomendasi .item .message, .kotarekomendasi .item .user .info .role {
  font-size: 17px;
  font-weight: 400;
  color: #ffffff;
  line-height: 30px;
  min-height: 90px; 
  margin-top: 10px;
}

.kotarekomendasi .item .user {
  display: block;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(50, 7, 104, 0.6);
  color: #fff;
  padding: 20px;
  opacity: 0;
  transition: opacity 0.25s;
}
.kotarekomendasi .item .user:hover {
  opacity: 1;
}

.kotarekomendasi .item .user .photo {
  width: 56px;
  height: 56px;
  float: left;
  margin-right: 16px;
}

.kotarekomendasi .item .user .info {
  padding-top: 150px;
}
.kotarekomendasi .item .user2 {
  position: absolute;
  border-radius: 10px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(50, 7, 104, 0.2);
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  padding: 20px;
  transition: opacity 0.25s;
}
.kotarekomendasi .item .user2:hover {
  opacity: 0;
}

.kotarekomendasi .item .user2 .info2 {
  padding-top: 280px;
}

.kotarekomendasi .item .user .info .name {
  color: #ffffff;
  font-weight: 500;
  font-size: 22px;
  margin-bottom: 0;
}

.kotarekomendasi .item .user .info .role {
  min-height: 0;
  margin-top: 0;
  margin-bottom: 0;
}

/* Deskripsi Kampus */
.deskripsikampus {
  padding: 0;
}
.deskripsikampus .copywritting {
  padding: 100px 40px 100px;
}
.deskripsikampus .copywritting .logodeskripsi {
  width: 130px;
}
.deskripsikampus .copywritting .namakampus {
  font-weight: 400;
  margin-top: 15px;
}
.deskripsikampus .text-center .cover {
  height: 550px;
}
.deskripsikampus .container-fluid {
  background: #f3f3ff;
}

.deskripsijurusan {
  padding: 0;
}
.deskripsijurusan .copywritting {
  padding: 100px 40px 100px;
}
.deskripsijurusan .copywritting .logodeskripsi {
  width: 80px;
}
.deskripsijurusan .copywritting .namakampus {
  font-weight: 400;
  margin-top: 15px;
}
.deskripsijurusan .text-center .cover {
  height: 550px;
}
.deskripsijurusan .container-fluid {
  background: #f3f3ff;
}


.isikampus {
  background: #ffffff;
}

.isikampus .primary-header {
  font-size: 30px;
  margin-top: 100px;
  margin-bottom: 10px;
}
.isikampus hr {
  width: 100%;
  height: 1px;
  background: #685974;
}
.isikampus .user .name {
  color: #6c6c6c;
}
.carousel-inner {
  border-radius: 20px;
  margin-top: 20px;
}

.isikampus .paragraph {
  line-height: 2em;
  color: #6c6c6c;
}

.isijurusan {
  background: #ffffff;
}

.isijurusan .primary-header {
  font-size: 30px;
  margin-top: 100px;
  margin-left: 250px;
}
.isijurusan hr {
  width: 100%;
  height: 1px;
  background: #685974;
}
.isijurusan .user .name {
  color: #6c6c6c;
}
.carousel-inner {
  border-radius: 20px;
  margin-top: 20px;
}

.isijurusan .paragraph {
  line-height: 2em;
  color: #6c6c6c;
  margin-left: 250px;
}

/* Tabel Pendaftaran */
.tabelpendaftaran {
  justify-content: center;
}
.tabelpendaftaran .primary-header {
  font-size: 30px;
  margin-top: 100px;
  margin-bottom: 10px;
}
.tabelpendaftaran .tabel .kiriatas {
  border-radius: 10px 0px 0px 0px; 
}
.tabelpendaftaran .pernyataan {
  padding: 0px 160px 0px 160px;
  text-align: left;
  color: #6c6c6c;
  line-height: 2em;
}

.tabelpendaftaran .tabel {
  border-radius: 10px;
  margin-left: 160px;
}

.tabelpendaftaran .tabel .kiribawah {
  border-radius: 0px 0px 0px 10px; 
}

.tabelpendaftaran .tabel .kananatas {
  border-radius: 0px 10px 0px 0px; 
}

.tabelpendaftaran .tabel .kananbawah {
  border-radius: 0px 0px 10px 0px; 
}
.tabelpendaftaran .tabel .marginatas {
  padding: 20px;
}
.tabelpendaftaran .tabel .jaraktabel {
  padding: 20px;
  width: 320px;
}

.tabelpendaftaran .tabel .abu-abu {
  background: #f0f0f0;
  color: #222222;
  font-weight: 10px;
}
.tabelpendaftaran .tabel .putih {
  background: #ffffff;
}
.tabelpendaftaran .tabel .white {
  color: #222222;
}


table {
  border-collapse: collapse;
  border-radius: 20px;
}
table, th, td {
  border: 1px solid rgb(227, 227, 227);
}
th, td {
  padding: 20px;
}
th {
  background-color: #6f30ec;
  color: white;
}

.lokasikampus {
  background: #fffefe;
  padding: 70px 0 70px 0;
}
.lokasikampus .text-center .cover {
  height: 550px;
}
.lokasikampus .copywritting {
  padding: 20px 20px 100px 30px;
}
.lokasikampus iframe {
  width: 1035px;
  height: 620px;
}
.lokasikampus .lokasibg {
  background: #f3f3ff;
  height: 620px;
}
.lokasikampus p {
  line-height: 25px;
}
.lokasikampus h6 {
  margin-top: 25px;
  margin-bottom: 15px;
}
.fasilitas {
  background: #6f30ec;
  padding: 70px 0 70px 0;
}
.fasilitas .primary-header {
  color: #fff;
}

.fasilitas .isifasilitas {
  padding: 11px 36px 11px 36px;
  border-radius: 100px;
  border: 0;
  font-weight: 400;
  font-size: 20px;
  line-height:50px;
  color: #fff;
}
.pengetahuan {
  background: #F7F7FB;
  margin-top: 50px;
  padding: 70px 0 70px 0;
}

.pengetahuan .primary-header {
  font-size: 30px;
  margin-top: 100px;
  margin-left: -380px;
}
.pengetahuan .isifasilitas {
  padding: 0px 36px 11px 30px;
  border-radius: 100px;
  border: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: rgb(31, 31, 31);
}


.pricing {
  margin-top: 100px;
  background: #4D1DAB;
  padding-top: 70px;
  max-height: 620px;
}

.pricing .copywriting {
  margin-top: 80px;
}

.pricing .support {
  font-size: 16px;
  font-weight: 400;
  color: #CBB0FF;
  line-height: 30px;
  margin-top: 30px;
}

.pricing .table-pricing {
  background: #fff;
  border-radius: 40px;
  padding: 30px;
  border: 1px solid #EAE8F5;
}

.pricing .table-pricing .price {
  font-size: 42px;
  font-weight: 600;
  color: #211B3D;
  margin-bottom: 20px;
}

.pricing .table-pricing .item-benefit-pricing img {
  float: left;
  margin-right: 8px;
  margin-top: 2px;
}

.pricing .table-pricing .item-benefit-pricing p {
  font-size: 16px;
  font-weight: 500;
  color: #211B3D;
}

.pricing .table-pricing .item-benefit-pricing .divider {
  height: 1px;
  width: 100%;
  background: #E7E5F4;
}

.pricing .paket-gila {
  min-height: 697px;
}

.pricing .paket-biasa {
  min-height: 453px;
}

.clear {
  clear: both;
}

.steps .item-step .cover {
  height: 400px;
}

.steps .item-step .copywriting {
  padding-top: 100px;
}

.steps .item-step .support {
  font-size: 16px;
  font-weight: 400;
  color: #5B5575;
  line-height: 30px;
  margin-top: 30px;
}

.btn-master, .btn-thirdty, .btn-primary, .btn-secondary {
  padding: 11px 36px 11px 36px;
  border-radius: 100px;
  border: 0;
  font-weight: 500;
}


.btn-thirdty {
  background: #31B380;
  color: #fff;
}

.btn-primary {
  background: #7839F3;
  color: #fff;
}

.btn-primary:hover {
  background: #31B380;
}

.story {
  font-weight: 600;
  font-size: 20px;
  color: #31B380;
}

.primary-header {
  font-weight: 600;
  font-size: 30px;
  color: #211B3D;
}
.lihatsemua {
  margin-top: 30px;
  margin-left: 15px;
}

.lihatsemua a {
  font-weight: 600;
  color: #732efc;
  font-size: 20px;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.3s ease-out;
}
.lihatsemua a:hover {
  color: #ad85ff;
}



.benefits {
  margin-bottom: 100px;
}

.benefits .item-benefit .icon {
  width: 56px;
  height: 56px;
  margin-bottom: 20px;
}

.benefits .item-benefit .title {
  font-size: 20px;
  color: #211B3D;
  font-weight: 500;
}

.benefits .item-benefit .support {
  font-size: 16px;
  font-weight: 400;
  color: #5B5575;
  line-height: 30px;
}

.pb-70 {
  padding-bottom: 40px;
}

.header-wrap .primary-header {
  margin-top: 8px;
}

.header-wrap .story {
  margin-bottom: 0;
}

.text-purple {
  color: #7839F3;
}

.text-white {
  color: #fff !important;
}

.btn-secondary {
  background: #F5EFFF;
  color: #7839F3;
}

.banner {
  padding: 80px 0 80px 0;
}

.banner .copywriting {
  padding-top: 80px;
}

.banner .header {
  margin: 20px 0 20px 0;
  font-size: 42px;
  color: #211B3D;
  font-weight: 600;
}

.banner .support {
  font-size: 16px;
  font-weight: 400;
  color: #5B5575;
  line-height: 30px;
}

.banner .cta {
  margin-top: 30px;
}

.banner .brands {
  margin-top: 60px;
}

.banner .brands img {
  height: 40px;
}

.dashboard .table tr {
  border: 1px solid #fff;
}

.basic-form {
  margin-top: 35px;
  background: transparent;
  border: 2px solid #E7E5F4; 
  border-radius: 50px;
}
.search-box {
  top: 50%;
  left: 50%;
  background: #ffffff;
  height: 55px;
  border: 1px solid #5b5b5b;
  border-radius: 50px;
  padding: 10px;
}
.search-btn {
  color: #ffffff;
  float: right;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #732efc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -8px -8px;
  transition: background 0.25s;
}
.search-btn:hover {
  background: #31B380;
}
.search-btn img {
  width: 25px;
}
.search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  color: rgb(122, 122, 122);
  font-size: 16px;
  font-weight: 100;
  width: 500px;
  margin: 4px 0px 0px 20px;
}
.basic-form input {
  background: transparent;
  border-radius: 50px;
}

.basic-form button img {
  width: 28px;
}

.basic-form button {
  border: 0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: #7839F3;
}

.checkout {
  padding-top: 80px;
  padding-bottom: 80px;
}

.checkout .item-bootcamp .cover {
  height: 255px;
  margin-bottom: 30px;
}

.checkout .item-bootcamp .package {
  font-size: 22px;
  color: #31B380;
  font-weight: 600;
}

.checkout .item-bootcamp .description {
  font-size: 16px;
  color: #211B3D;
  font-weight: 400;
  line-height: 30px;
}

.text-green {
  color: #31B380 !important;
}

.text-red {
  color: #f73353 !important;
}

.navbar {
  box-shadow: 1px 8px 61px 0px rgba(22, 28, 51, 0.08);
  -webkit-box-shadow: 1px 8px 61px 0px rgba(22, 28, 51, 0.08);
  -moz-box-shadow: 1px 8px 61px 0px rgba(22, 28, 51, 0.08);
  padding: 24px 0 24px 0;
}

.navbar .user-logged a {
  color: #211B3D;
  text-decoration: none;
}

.navbar .user-logged .user-photo {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  border-radius: 50%;
}

.navbar .navbar-nav .nav-link {
  color: #211B3D;
  font-weight: 400;
  padding-right: 30px;
}

.navbar .navbar-nav .active {
  color: #7839F3 !important;
  font-weight: 500;
}

.navbar .navbar-brand img {
  height: 42px;
}
/*# sourceMappingURL=main.css.map */

/* Footer */

footer {
  box-shadow: 1px 8px 61px 0px rgba(22, 28, 51, 0.08);
  -webkit-box-shadow: 1px 8px 61px 0px rgba(22, 28, 51, 0.08);
  -moz-box-shadow: 1px 8px 61px 0px rgba(22, 28, 51, 0.08);
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 80px;
  background-color: #ffffff;
}

.container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 12px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.wrapper .footer-widget {
  width: calc(20% - 30px);
  margin: 0 10px 0px;
  padding: 0px 0px;
}

.wrapper .footer-widget:nth-child(1) {
  width: calc(40% - 50px);
  margin-right: 15px;
}

.wrapper .footer-widget .logo {
  height: 50px;
  margin-bottom: 30px;
  padding-left: 30px;
}

.wrapper .footer-widget p {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 24px;
  padding-left: 30px;
}

.wrapper .footer-widget .socials {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.wrapper .footer-widget .socials li {
  list-style: none;
}

.wrapper .footer-widget .socials li a {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  color: #ffffff;
  background-color: #4D1CAB;
  border-radius: 50%;
  font-size: 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-out;
}
.wrapper .footer-widget .socialogo {
  height: 22px;
}

.wrapper .footer-widget .socials li a:hover {
  background-color: #7839F3;
}

.wrapper .footer-widget h6 {
  color: #585978;
  margin: 15px 32px 35px;
  font-size: 20px;
  font-weight: 600;
}

.wrapper .footer-widget .links li {
  list-style: none;
}

.wrapper .footer-widget .links li a {
  color: #585978;
  font-size: 16px;
  text-decoration: none;
  text-transform: capitalize;
  line-height: 40px;
  transition: all 0.3s ease-out;
}

.wrapper .footer-widget .links li a:hover {
  color: #7839F3;
}

.copyright-wrapper {
  padding: 20  px 0;
  border-top: 1px solid rgba(88, 89, 120, 0.4);
}

.copyright-wrapper p {
  color: rgba(88, 89, 120, 0.6);
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

.copyright-wrapper p a {
  color: inherit;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s ease-out;
}

.copyright-wrapper p a:hover {
  color: #037ef3;
}

/* Let's write the media query */
@media (max-width: 992px) {
  .container {
    max-width: 960px;
  }

  .wrapper .footer-widget,
  .wrapper .footer-widget:nth-child(1) {
    width: calc(50% - 30px);
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 720px;
  }

  .wrapper .footer-widget,
  .wrapper .footer-widget:nth-child(1) {
    width: 100%;
    margin: 0 10px 50px;
  }
}

  
